html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

[class*="grid"] {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin-left: -10px;
  margin-right: -10px; }

.col,
[class*="col-"] {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-left: 10px;
  padding-right: 10px; }

.col {
  flex: 1 1 0%; }

.grid.col,
.grid[class*="col-"] {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0; }

[class*="grid-"][class*="-noGutter"] {
  margin-left: 0;
  margin-right: 0; }
  [class*="grid-"][class*="-noGutter"] > [class*="col"] {
    padding-left: 0;
    padding-right: 0; }

[class*="grid-"][class*="-center"] {
  justify-content: center; }

[class*="grid-"][class*="-right"] {
  justify-content: flex-end;
  align-self: flex-end;
  margin-left: auto; }

[class*="grid-"][class*="-top"] {
  align-items: flex-start; }

[class*="grid-"][class*="-middle"] {
  align-items: center; }

[class*="grid-"][class*="-bottom"] {
  align-items: flex-end; }

[class*="grid-"][class*="-reverse"] {
  flex-direction: row-reverse; }

[class*="grid-"][class*="-column"] {
  flex-direction: column; }
  [class*="grid-"][class*="-column"] > [class*="col-"] {
    flex-basis: auto; }

[class*="grid-"][class*="-column-reverse"] {
  flex-direction: column-reverse; }

[class*="grid-"][class*="-spaceBetween"] {
  justify-content: space-between; }

[class*="grid-"][class*="-spaceAround"] {
  justify-content: space-around; }

[class*="grid-"][class*="-equalHeight"] > [class*="col"] {
  display: flex; }

[class*="grid-"][class*="-noBottom"] > [class*="col"] {
  padding-bottom: 0; }

[class*="col-"][class*="-top"] {
  align-self: flex-start; }

[class*="col-"][class*="-middle"] {
  align-self: center; }

[class*="col-"][class*="-bottom"] {
  align-self: flex-end; }

[class*="col-"][class*="-first"] {
  order: -1; }

[class*="col-"][class*="-last"] {
  order: 1; }

@media screen and (min-width: 90.0625em) {
  [class*="col-"][class*="_max-0"] {
    display: none !important; } }

@media screen and (min-width: 64.0625em) and (max-width: 90em) {
  [class*="col-"][class*="_lg-0"] {
    display: none !important; } }

@media screen and (min-width: 48.0625em) and (max-width: 64em) {
  [class*="col-"][class*="_md-0"] {
    display: none !important; } }

@media screen and (min-width: 30.0625em) and (max-width: 48em) {
  [class*="col-"][class*="_sm-0"] {
    display: none !important; } }

@media screen and (max-width: 30em) {
  [class*="col-"][class*="_xs-0"] {
    display: none !important; } }

[class*='grid'] > [class*="col-1"] {
  flex-basis: 8.33333%;
  max-width: 8.33333%; }

[class*='grid'] > [class*="col-2"] {
  flex-basis: 16.66667%;
  max-width: 16.66667%; }

[class*='grid'] > [class*="col-3"] {
  flex-basis: 25%;
  max-width: 25%; }

[class*='grid'] > [class*="col-4"] {
  flex-basis: 33.33333%;
  max-width: 33.33333%; }

[class*='grid'] > [class*="col-5"] {
  flex-basis: 41.66667%;
  max-width: 41.66667%; }

[class*='grid'] > [class*="col-6"] {
  flex-basis: 50%;
  max-width: 50%; }

[class*='grid'] > [class*="col-7"] {
  flex-basis: 58.33333%;
  max-width: 58.33333%; }

[class*='grid'] > [class*="col-8"] {
  flex-basis: 66.66667%;
  max-width: 66.66667%; }

[class*='grid'] > [class*="col-9"] {
  flex-basis: 75%;
  max-width: 75%; }

[class*='grid'] > [class*="col-10"] {
  flex-basis: 83.33333%;
  max-width: 83.33333%; }

[class*='grid'] > [class*="col-11"] {
  flex-basis: 91.66667%;
  max-width: 91.66667%; }

[class*='grid'] > [class*="col-12"] {
  flex-basis: 100%;
  max-width: 100%; }

[class*="grid"] > [data-push-left*="off-0"] {
  margin-left: 0%; }

[class*="grid"] > [data-push-right*="off-0"] {
  margin-right: 0%; }

[class*="grid"] > [data-push-left*="off-1"] {
  margin-left: 8.33333%; }

[class*="grid"] > [data-push-right*="off-1"] {
  margin-right: 8.33333%; }

[class*="grid"] > [data-push-left*="off-2"] {
  margin-left: 16.66667%; }

[class*="grid"] > [data-push-right*="off-2"] {
  margin-right: 16.66667%; }

[class*="grid"] > [data-push-left*="off-3"] {
  margin-left: 25%; }

[class*="grid"] > [data-push-right*="off-3"] {
  margin-right: 25%; }

[class*="grid"] > [data-push-left*="off-4"] {
  margin-left: 33.33333%; }

[class*="grid"] > [data-push-right*="off-4"] {
  margin-right: 33.33333%; }

[class*="grid"] > [data-push-left*="off-5"] {
  margin-left: 41.66667%; }

[class*="grid"] > [data-push-right*="off-5"] {
  margin-right: 41.66667%; }

[class*="grid"] > [data-push-left*="off-6"] {
  margin-left: 50%; }

[class*="grid"] > [data-push-right*="off-6"] {
  margin-right: 50%; }

[class*="grid"] > [data-push-left*="off-7"] {
  margin-left: 58.33333%; }

[class*="grid"] > [data-push-right*="off-7"] {
  margin-right: 58.33333%; }

[class*="grid"] > [data-push-left*="off-8"] {
  margin-left: 66.66667%; }

[class*="grid"] > [data-push-right*="off-8"] {
  margin-right: 66.66667%; }

[class*="grid"] > [data-push-left*="off-9"] {
  margin-left: 75%; }

[class*="grid"] > [data-push-right*="off-9"] {
  margin-right: 75%; }

[class*="grid"] > [data-push-left*="off-10"] {
  margin-left: 83.33333%; }

[class*="grid"] > [data-push-right*="off-10"] {
  margin-right: 83.33333%; }

[class*="grid"] > [data-push-left*="off-11"] {
  margin-left: 91.66667%; }

[class*="grid"] > [data-push-right*="off-11"] {
  margin-right: 91.66667%; }

[class*="grid"] > [data-push-left*="off-12"] {
  margin-left: 100%; }

[class*="grid"] > [data-push-right*="off-12"] {
  margin-right: 100%; }

@media screen and (min-width: 0) {
  [class*='grid'] > [class*="_xs-1"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  [class*='grid'] > [class*="_xs-2"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  [class*='grid'] > [class*="_xs-3"] {
    flex-basis: 25%;
    max-width: 25%; }
  [class*='grid'] > [class*="_xs-4"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  [class*='grid'] > [class*="_xs-5"] {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  [class*='grid'] > [class*="_xs-6"] {
    flex-basis: 50%;
    max-width: 50%; }
  [class*='grid'] > [class*="_xs-7"] {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  [class*='grid'] > [class*="_xs-8"] {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  [class*='grid'] > [class*="_xs-9"] {
    flex-basis: 75%;
    max-width: 75%; }
  [class*='grid'] > [class*="_xs-10"] {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  [class*='grid'] > [class*="_xs-11"] {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  [class*='grid'] > [class*="_xs-12"] {
    flex-basis: 100%;
    max-width: 100%; }
  [class*="grid"] > [data-push-left*="_xs-0"] {
    margin-left: 0%; }
  [class*="grid"] > [data-push-right*="_xs-0"] {
    margin-right: 0%; }
  [class*="grid"] > [data-push-left*="_xs-1"] {
    margin-left: 8.33333%; }
  [class*="grid"] > [data-push-right*="_xs-1"] {
    margin-right: 8.33333%; }
  [class*="grid"] > [data-push-left*="_xs-2"] {
    margin-left: 16.66667%; }
  [class*="grid"] > [data-push-right*="_xs-2"] {
    margin-right: 16.66667%; }
  [class*="grid"] > [data-push-left*="_xs-3"] {
    margin-left: 25%; }
  [class*="grid"] > [data-push-right*="_xs-3"] {
    margin-right: 25%; }
  [class*="grid"] > [data-push-left*="_xs-4"] {
    margin-left: 33.33333%; }
  [class*="grid"] > [data-push-right*="_xs-4"] {
    margin-right: 33.33333%; }
  [class*="grid"] > [data-push-left*="_xs-5"] {
    margin-left: 41.66667%; }
  [class*="grid"] > [data-push-right*="_xs-5"] {
    margin-right: 41.66667%; }
  [class*="grid"] > [data-push-left*="_xs-6"] {
    margin-left: 50%; }
  [class*="grid"] > [data-push-right*="_xs-6"] {
    margin-right: 50%; }
  [class*="grid"] > [data-push-left*="_xs-7"] {
    margin-left: 58.33333%; }
  [class*="grid"] > [data-push-right*="_xs-7"] {
    margin-right: 58.33333%; }
  [class*="grid"] > [data-push-left*="_xs-8"] {
    margin-left: 66.66667%; }
  [class*="grid"] > [data-push-right*="_xs-8"] {
    margin-right: 66.66667%; }
  [class*="grid"] > [data-push-left*="_xs-9"] {
    margin-left: 75%; }
  [class*="grid"] > [data-push-right*="_xs-9"] {
    margin-right: 75%; }
  [class*="grid"] > [data-push-left*="_xs-10"] {
    margin-left: 83.33333%; }
  [class*="grid"] > [data-push-right*="_xs-10"] {
    margin-right: 83.33333%; }
  [class*="grid"] > [data-push-left*="_xs-11"] {
    margin-left: 91.66667%; }
  [class*="grid"] > [data-push-right*="_xs-11"] {
    margin-right: 91.66667%; }
  [class*="grid"] > [data-push-left*="_xs-12"] {
    margin-left: 100%; }
  [class*="grid"] > [data-push-right*="_xs-12"] {
    margin-right: 100%; } }

@media screen and (min-width: 30.0625em) {
  [class*="grid"] {
    margin-left: -10px;
    margin-right: -10px; }
  .col,
  [class*="col-"] {
    padding-left: 10px;
    padding-right: 10px; }
  [class*='grid'] > [class*="_sm-1"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  [class*='grid'] > [class*="_sm-2"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  [class*='grid'] > [class*="_sm-3"] {
    flex-basis: 25%;
    max-width: 25%; }
  [class*='grid'] > [class*="_sm-4"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  [class*='grid'] > [class*="_sm-5"] {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  [class*='grid'] > [class*="_sm-6"] {
    flex-basis: 50%;
    max-width: 50%; }
  [class*='grid'] > [class*="_sm-7"] {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  [class*='grid'] > [class*="_sm-8"] {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  [class*='grid'] > [class*="_sm-9"] {
    flex-basis: 75%;
    max-width: 75%; }
  [class*='grid'] > [class*="_sm-10"] {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  [class*='grid'] > [class*="_sm-11"] {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  [class*='grid'] > [class*="_sm-12"] {
    flex-basis: 100%;
    max-width: 100%; }
  [class*="grid"] > [data-push-left*="_sm-0"] {
    margin-left: 0%; }
  [class*="grid"] > [data-push-right*="_sm-0"] {
    margin-right: 0%; }
  [class*="grid"] > [data-push-left*="_sm-1"] {
    margin-left: 8.33333%; }
  [class*="grid"] > [data-push-right*="_sm-1"] {
    margin-right: 8.33333%; }
  [class*="grid"] > [data-push-left*="_sm-2"] {
    margin-left: 16.66667%; }
  [class*="grid"] > [data-push-right*="_sm-2"] {
    margin-right: 16.66667%; }
  [class*="grid"] > [data-push-left*="_sm-3"] {
    margin-left: 25%; }
  [class*="grid"] > [data-push-right*="_sm-3"] {
    margin-right: 25%; }
  [class*="grid"] > [data-push-left*="_sm-4"] {
    margin-left: 33.33333%; }
  [class*="grid"] > [data-push-right*="_sm-4"] {
    margin-right: 33.33333%; }
  [class*="grid"] > [data-push-left*="_sm-5"] {
    margin-left: 41.66667%; }
  [class*="grid"] > [data-push-right*="_sm-5"] {
    margin-right: 41.66667%; }
  [class*="grid"] > [data-push-left*="_sm-6"] {
    margin-left: 50%; }
  [class*="grid"] > [data-push-right*="_sm-6"] {
    margin-right: 50%; }
  [class*="grid"] > [data-push-left*="_sm-7"] {
    margin-left: 58.33333%; }
  [class*="grid"] > [data-push-right*="_sm-7"] {
    margin-right: 58.33333%; }
  [class*="grid"] > [data-push-left*="_sm-8"] {
    margin-left: 66.66667%; }
  [class*="grid"] > [data-push-right*="_sm-8"] {
    margin-right: 66.66667%; }
  [class*="grid"] > [data-push-left*="_sm-9"] {
    margin-left: 75%; }
  [class*="grid"] > [data-push-right*="_sm-9"] {
    margin-right: 75%; }
  [class*="grid"] > [data-push-left*="_sm-10"] {
    margin-left: 83.33333%; }
  [class*="grid"] > [data-push-right*="_sm-10"] {
    margin-right: 83.33333%; }
  [class*="grid"] > [data-push-left*="_sm-11"] {
    margin-left: 91.66667%; }
  [class*="grid"] > [data-push-right*="_sm-11"] {
    margin-right: 91.66667%; }
  [class*="grid"] > [data-push-left*="_sm-12"] {
    margin-left: 100%; }
  [class*="grid"] > [data-push-right*="_sm-12"] {
    margin-right: 100%; } }

@media screen and (min-width: 48.0625em) {
  [class*="grid"] {
    margin-left: -10px;
    margin-right: -10px; }
  .col,
  [class*="col-"] {
    padding-left: 10px;
    padding-right: 10px; }
  [class*='grid'] > [class*="_md-1"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  [class*='grid'] > [class*="_md-2"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  [class*='grid'] > [class*="_md-3"] {
    flex-basis: 25%;
    max-width: 25%; }
  [class*='grid'] > [class*="_md-4"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  [class*='grid'] > [class*="_md-5"] {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  [class*='grid'] > [class*="_md-6"] {
    flex-basis: 50%;
    max-width: 50%; }
  [class*='grid'] > [class*="_md-7"] {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  [class*='grid'] > [class*="_md-8"] {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  [class*='grid'] > [class*="_md-9"] {
    flex-basis: 75%;
    max-width: 75%; }
  [class*='grid'] > [class*="_md-10"] {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  [class*='grid'] > [class*="_md-11"] {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  [class*='grid'] > [class*="_md-12"] {
    flex-basis: 100%;
    max-width: 100%; }
  [class*="grid"] > [data-push-left*="_md-0"] {
    margin-left: 0%; }
  [class*="grid"] > [data-push-right*="_md-0"] {
    margin-right: 0%; }
  [class*="grid"] > [data-push-left*="_md-1"] {
    margin-left: 8.33333%; }
  [class*="grid"] > [data-push-right*="_md-1"] {
    margin-right: 8.33333%; }
  [class*="grid"] > [data-push-left*="_md-2"] {
    margin-left: 16.66667%; }
  [class*="grid"] > [data-push-right*="_md-2"] {
    margin-right: 16.66667%; }
  [class*="grid"] > [data-push-left*="_md-3"] {
    margin-left: 25%; }
  [class*="grid"] > [data-push-right*="_md-3"] {
    margin-right: 25%; }
  [class*="grid"] > [data-push-left*="_md-4"] {
    margin-left: 33.33333%; }
  [class*="grid"] > [data-push-right*="_md-4"] {
    margin-right: 33.33333%; }
  [class*="grid"] > [data-push-left*="_md-5"] {
    margin-left: 41.66667%; }
  [class*="grid"] > [data-push-right*="_md-5"] {
    margin-right: 41.66667%; }
  [class*="grid"] > [data-push-left*="_md-6"] {
    margin-left: 50%; }
  [class*="grid"] > [data-push-right*="_md-6"] {
    margin-right: 50%; }
  [class*="grid"] > [data-push-left*="_md-7"] {
    margin-left: 58.33333%; }
  [class*="grid"] > [data-push-right*="_md-7"] {
    margin-right: 58.33333%; }
  [class*="grid"] > [data-push-left*="_md-8"] {
    margin-left: 66.66667%; }
  [class*="grid"] > [data-push-right*="_md-8"] {
    margin-right: 66.66667%; }
  [class*="grid"] > [data-push-left*="_md-9"] {
    margin-left: 75%; }
  [class*="grid"] > [data-push-right*="_md-9"] {
    margin-right: 75%; }
  [class*="grid"] > [data-push-left*="_md-10"] {
    margin-left: 83.33333%; }
  [class*="grid"] > [data-push-right*="_md-10"] {
    margin-right: 83.33333%; }
  [class*="grid"] > [data-push-left*="_md-11"] {
    margin-left: 91.66667%; }
  [class*="grid"] > [data-push-right*="_md-11"] {
    margin-right: 91.66667%; }
  [class*="grid"] > [data-push-left*="_md-12"] {
    margin-left: 100%; }
  [class*="grid"] > [data-push-right*="_md-12"] {
    margin-right: 100%; } }

@media screen and (min-width: 64.0625em) {
  [class*="grid"] {
    margin-left: -10px;
    margin-right: -10px; }
  .col,
  [class*="col-"] {
    padding-left: 10px;
    padding-right: 10px; }
  [class*='grid'] > [class*="_lg-1"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  [class*='grid'] > [class*="_lg-2"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  [class*='grid'] > [class*="_lg-3"] {
    flex-basis: 25%;
    max-width: 25%; }
  [class*='grid'] > [class*="_lg-4"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  [class*='grid'] > [class*="_lg-5"] {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  [class*='grid'] > [class*="_lg-6"] {
    flex-basis: 50%;
    max-width: 50%; }
  [class*='grid'] > [class*="_lg-7"] {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  [class*='grid'] > [class*="_lg-8"] {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  [class*='grid'] > [class*="_lg-9"] {
    flex-basis: 75%;
    max-width: 75%; }
  [class*='grid'] > [class*="_lg-10"] {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  [class*='grid'] > [class*="_lg-11"] {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  [class*='grid'] > [class*="_lg-12"] {
    flex-basis: 100%;
    max-width: 100%; }
  [class*="grid"] > [data-push-left*="_lg-0"] {
    margin-left: 0%; }
  [class*="grid"] > [data-push-right*="_lg-0"] {
    margin-right: 0%; }
  [class*="grid"] > [data-push-left*="_lg-1"] {
    margin-left: 8.33333%; }
  [class*="grid"] > [data-push-right*="_lg-1"] {
    margin-right: 8.33333%; }
  [class*="grid"] > [data-push-left*="_lg-2"] {
    margin-left: 16.66667%; }
  [class*="grid"] > [data-push-right*="_lg-2"] {
    margin-right: 16.66667%; }
  [class*="grid"] > [data-push-left*="_lg-3"] {
    margin-left: 25%; }
  [class*="grid"] > [data-push-right*="_lg-3"] {
    margin-right: 25%; }
  [class*="grid"] > [data-push-left*="_lg-4"] {
    margin-left: 33.33333%; }
  [class*="grid"] > [data-push-right*="_lg-4"] {
    margin-right: 33.33333%; }
  [class*="grid"] > [data-push-left*="_lg-5"] {
    margin-left: 41.66667%; }
  [class*="grid"] > [data-push-right*="_lg-5"] {
    margin-right: 41.66667%; }
  [class*="grid"] > [data-push-left*="_lg-6"] {
    margin-left: 50%; }
  [class*="grid"] > [data-push-right*="_lg-6"] {
    margin-right: 50%; }
  [class*="grid"] > [data-push-left*="_lg-7"] {
    margin-left: 58.33333%; }
  [class*="grid"] > [data-push-right*="_lg-7"] {
    margin-right: 58.33333%; }
  [class*="grid"] > [data-push-left*="_lg-8"] {
    margin-left: 66.66667%; }
  [class*="grid"] > [data-push-right*="_lg-8"] {
    margin-right: 66.66667%; }
  [class*="grid"] > [data-push-left*="_lg-9"] {
    margin-left: 75%; }
  [class*="grid"] > [data-push-right*="_lg-9"] {
    margin-right: 75%; }
  [class*="grid"] > [data-push-left*="_lg-10"] {
    margin-left: 83.33333%; }
  [class*="grid"] > [data-push-right*="_lg-10"] {
    margin-right: 83.33333%; }
  [class*="grid"] > [data-push-left*="_lg-11"] {
    margin-left: 91.66667%; }
  [class*="grid"] > [data-push-right*="_lg-11"] {
    margin-right: 91.66667%; }
  [class*="grid"] > [data-push-left*="_lg-12"] {
    margin-left: 100%; }
  [class*="grid"] > [data-push-right*="_lg-12"] {
    margin-right: 100%; } }

body {
  font-family: "Josefin Sans", sans-serif;
  color: #090909;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased; }

h1 {
  color: #090909;
  font-family: "Francois One", sans-serif;
  font-weight: 400;
  font-size: 60px;
  margin: 0;
  text-transform: uppercase; }

h2 {
  color: #090909;
  font-family: "Francois One", sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin: 0;
  text-transform: uppercase; }

h3 {
  color: #090909;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 25px;
  margin: 0;
  text-transform: uppercase; }

h4 {
  color: #090909;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0; }

h5 {
  color: #090909;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.5px; }

.container .content {
  max-width: 1440px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 0 5.21%;
  padding-top: 50px;
  padding-bottom: 50px; }
  @media screen and (min-width: 90.0625em) {
    .container .content {
      max-width: 1290px;
      padding-left: 0;
      padding-right: 0; } }
  .container .content .title {
    text-align: center;
    margin-bottom: 40px; }
    .container .content .title h2 {
      margin-top: -10px;
      margin-bottom: 5px;
      letter-spacing: 3px; }

.icon-wrapper {
  margin-right: 10px;
  background-color: #5C9EAD;
  width: 50px;
  max-width: 50px;
  min-width: 50px;
  height: 50px;
  max-height: 50px;
  min-height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .icon-wrapper i {
    color: #faf9f9;
    font-size: 25px; }

#hero {
  background-image: url("../img/hero.jpg");
  background-color: #DEBAC0;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover; }
  #hero .content {
    text-align: left;
    padding-top: 75px;
    padding-bottom: 150px; }
    @media screen and (min-width: 0) and (max-width: 48em) {
      #hero .content {
        padding-top: 25px; } }
    #hero .content .hero-box {
      background-color: #faf9f9;
      padding: 50px;
      text-align: center;
      display: inline-block; }
      @media screen and (min-width: 0) and (max-width: 48em) {
        #hero .content .hero-box {
          padding: 30px; } }
      #hero .content .hero-box h1 {
        margin-bottom: 25px;
        letter-spacing: 8px;
        line-height: 72px; }
        @media screen and (min-width: 0) and (max-width: 48em) {
          #hero .content .hero-box h1 {
            font-size: 40px;
            letter-spacing: 5px;
            line-height: 48px; } }
        #hero .content .hero-box h1 .i {
          position: relative; }
        #hero .content .hero-box h1 .idot {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #090909;
          position: absolute;
          top: 4px;
          left: -2px; }
          @media screen and (min-width: 0) and (max-width: 48em) {
            #hero .content .hero-box h1 .idot {
              width: 8px;
              height: 8px;
              top: 3px;
              left: -1px; } }
      @media screen and (min-width: 0) and (max-width: 48em) {
        #hero .content .hero-box h4 {
          font-size: 16px; } }

#about .column-wrapper {
  background-color: #e8e3e3; }
  #about .column-wrapper .column {
    text-align: left;
    padding: 40px; }
    @media screen and (max-width: 30em) {
      #about .column-wrapper .column {
        padding: 25px; } }
    #about .column-wrapper .column a {
      color: #090909;
      text-decoration: none; }
      #about .column-wrapper .column a:hover {
        text-decoration: underline;
        color: #5C9EAD; }
    #about .column-wrapper .column:nth-child(2) {
      background-image: url("../img/kristyn-lyncheski.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      @media screen and (min-width: 0) and (max-width: 48em) {
        #about .column-wrapper .column:nth-child(2) {
          min-height: 300px;
          background-position: top center; } }
      @media screen and (min-width: 30.0625em) and (max-width: 48em) {
        #about .column-wrapper .column:nth-child(2) {
          order: -1; } }
      @media screen and (max-width: 30em) {
        #about .column-wrapper .column:nth-child(2) {
          order: -1; } }
    #about .column-wrapper .column h3 {
      margin-bottom: 12.5px; }
    @media screen and (max-width: 30em) {
      #about .column-wrapper .column:last-child {
        padding-top: 0; } }

#about .profile-content h5 {
  margin-bottom: 5px; }
  #about .profile-content h5:first-child {
    margin-top: 22px; }

#about .profile-content div {
  margin-bottom: 35px; }
  #about .profile-content div:last-child {
    margin-bottom: 0; }

#about .skills-content .about-category h5 {
  background-color: #faf9f9;
  padding: 12px 20px 10px;
  border-left: 8px solid #5C9EAD; }

#about .skills-content .about-category .about-skills {
  margin: 12.5px 0 15px 0;
  padding: 0 20px 0 28px; }
  @media screen and (min-width: 0) and (max-width: 48em) {
    #about .skills-content .about-category .about-skills {
      padding: 0; } }
  #about .skills-content .about-category .about-skills > div {
    margin-bottom: 2px; }
    #about .skills-content .about-category .about-skills > div:last-child {
      margin-bottom: 0; }

#about .skills-content .about-category:first-child .about-skills {
  justify-content: flex-end; }
  #about .skills-content .about-category:first-child .about-skills > div {
    padding-left: 5px;
    padding-right: 5px; }

#about .skills-content .about-category:nth-child(3) .about-skills > div {
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px; }

#about .skills-content .about-category:last-child .about-skills {
  margin-bottom: 0; }

#resume .content {
  padding-top: 0; }

#resume .column-wrapper .column {
  text-align: left; }
  #resume .column-wrapper .column .column-title {
    padding: 12.5px 25px;
    margin-bottom: 15px;
    text-align: center;
    background-color: #e8e3e3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; }
    #resume .column-wrapper .column .column-title h3 {
      margin-left: 10px;
      margin-top: 5px; }
  #resume .column-wrapper .column .column-tile {
    padding: 25px;
    margin-bottom: 15px;
    background-color: #f5f3f3;
    border-top: 8px solid #5C9EAD; }
    #resume .column-wrapper .column .column-tile:last-child {
      margin-bottom: 0; }
    @media screen and (min-width: 0) and (max-width: 48em) {
      #resume .column-wrapper .column .column-tile {
        min-height: 0; } }
    #resume .column-wrapper .column .column-tile .column-tile-institution {
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase; }
    #resume .column-wrapper .column .column-tile .column-tile-title,
    #resume .column-wrapper .column .column-tile .column-tile-date {
      font-size: 18px;
      font-weight: 300;
      margin-top: 3px; }
    #resume .column-wrapper .column .column-tile .column-tile-description {
      margin-top: 15px;
      line-height: 19px; }
      #resume .column-wrapper .column .column-tile .column-tile-description ul {
        padding-left: 12.5px; }
  @media screen and (min-width: 0) and (max-width: 48em) {
    #resume .column-wrapper .column:first-child {
      margin-bottom: 25px; } }
  #resume .column-wrapper .column:first-child .column-title > div {
    background-color: #DEBAC0; }
  #resume .column-wrapper .column:first-child .column-tile {
    border-top-color: #DEBAC0; }

#portfolio {
  background-color: #e8e3e3; }
  #portfolio .portfolio-content > .grid > div {
    padding: 0; }
  #portfolio .portfolio-content > .grid .first-column .item-wrapper:nth-child(2) {
    margin: 0; }
  #portfolio .portfolio-content > .grid .first-column .item-wrapper:first-child .rollover .rollover-content, #portfolio .portfolio-content > .grid .first-column .item-wrapper:nth-child(2) .rollover .rollover-content {
    background-color: rgba(65, 144, 166, 0.96);
    color: #faf9f9; }
  @media screen and (min-width: 0) and (max-width: 48em) {
    #portfolio .portfolio-content > .grid .second-column {
      overflow: hidden;
      margin-bottom: 10px !important; } }
  #portfolio .portfolio-content > .grid .second-column .item-wrapper:nth-child(2) .rollover .rollover-content {
    background-color: rgba(65, 144, 166, 0.96);
    color: #faf9f9; }
  #portfolio .grid.col, #portfolio .grid[class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
    align-content: space-between; }
  #portfolio .item-wrapper {
    margin: 0 0 10px;
    position: relative;
    cursor: default; }
    @media screen and (min-width: 0) and (max-width: 48em) {
      #portfolio .item-wrapper {
        max-height: 400px;
        overflow: hidden;
        margin-bottom: 20px !important; } }
    @media screen and (min-width: 30.0625em) and (max-width: 48em) {
      #portfolio .item-wrapper.item-wrapper-mobile .portfolio-img {
        height: 100%;
        overflow: hidden; }
        #portfolio .item-wrapper.item-wrapper-mobile .portfolio-img img {
          height: 100%;
          width: auto;
          right: 45%;
          position: relative; } }
    #portfolio .item-wrapper:last-child {
      margin: 0; }
    #portfolio .item-wrapper .portfolio-img img {
      width: 100%;
      display: block; }
    #portfolio .item-wrapper .rollover {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: inherit; }
      #portfolio .item-wrapper .rollover .rollover-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(222, 186, 192, 0.96);
        padding: 25px;
        color: #090909; }
        #portfolio .item-wrapper .rollover .rollover-content .icon {
          color: #e8e3e3; }
          #portfolio .item-wrapper .rollover .rollover-content .icon .fa {
            font-size: 20px;
            font-weight: bold;
            margin: 0 3px 10px; }
        #portfolio .item-wrapper .rollover .rollover-content .company,
        #portfolio .item-wrapper .rollover .rollover-content .skills {
          font-weight: 700;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 1px;
          margin: 0 0 5px; }
        #portfolio .item-wrapper .rollover .rollover-content .description {
          text-transform: uppercase;
          font-weight: 300;
          font-size: 20px;
          margin-bottom: 15px;
          margin-top: 2px; }
        #portfolio .item-wrapper .rollover .rollover-content .language {
          font-size: 16px;
          line-height: 20px; }
    #portfolio .item-wrapper:hover .rollover {
      display: block; }

#services .row-wrapper .square {
  margin-bottom: 25px; }
  #services .row-wrapper .square .square-content {
    padding: 25px 25px 50px;
    background-color: #e8e3e3;
    border-top: 8px solid #5C9EAD;
    height: 100%; }
    @media screen and (max-width: 30em) {
      #services .row-wrapper .square .square-content {
        padding-bottom: 30px; } }
    #services .row-wrapper .square .square-content .icon-wrapper {
      margin: 0 auto; }
    #services .row-wrapper .square .square-content .square-title {
      text-align: center;
      margin-top: 12.5px;
      margin-bottom: 25px; }
    #services .row-wrapper .square .square-content .square-description {
      text-align: center; }
  #services .row-wrapper .square:first-child .square-content, #services .row-wrapper .square:nth-child(2) .square-content, #services .row-wrapper .square:nth-child(3) .square-content {
    border-top-color: #DEBAC0; }
    #services .row-wrapper .square:first-child .square-content .icon-wrapper, #services .row-wrapper .square:nth-child(2) .square-content .icon-wrapper, #services .row-wrapper .square:nth-child(3) .square-content .icon-wrapper {
      background-color: #DEBAC0; }
  @media screen and (min-width: 48.0625em) {
    #services .row-wrapper .square:nth-child(4) {
      margin-bottom: 0; } }
  @media screen and (min-width: 30.0625em) {
    #services .row-wrapper .square:nth-child(5) {
      margin-bottom: 0; } }
  @media screen and (min-width: 0) {
    #services .row-wrapper .square:last-child {
      margin-bottom: 0; } }

#contact {
  background-color: #e8e3e3; }

/* TYPEFORM */
.screen .content-wrapper .content .text {
  font-family: "Josefin Sans", sans-serif !important; }

footer .grid-middle > div {
  padding: 15px 50px; }

footer .copyright {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700; }

footer .social-links {
  text-align: right; }
  footer .social-links a {
    color: #e8e3e3; }
  footer .social-links .fa {
    font-size: 2.5em; }
