{% extends "../components/container.html" %}

{% block id %}about{% endblock %}

{% block title %}
  About Me
{% endblock %}

{% block subheading %}
  Let me introduce myself
{% endblock %}

{% block section %}
  <div class="column-wrapper grid">
    <div class="column col-12_sm-6_md-4">
      <h3>Profile</h3>
      <div class="profile-content">
        <h5>Name</h5>
        <div>Kristyn Lyncheski</div>
        <h5>Phone Number</h5>
        <div>(908) 591 3689</div>
        <h5>Email</h5>
        <div>klyncheski@gmail.com</div>
        <h5>Bio</h5>
        <div>Roof party williamsburg slow-carb activated charcoal meggings seitan flexitarian selvage bicycle rights chillwave edison bulb. Pop-up organic stumptown raw denim, iceland offal blue bottle cold-pressed pitchfork echo park thundercats literally slow-carb seitan.</div>
      </div>
    </div>
    <div class="column col-12_md-4">
    </div>
    <div class="column col-12_sm-6_md-4">
      <h3>Skills</h3>
      <div class="skills-content">
        <div class="about-category">
          <h5>Web Development</h5>
          <div class="about-skills grid">
            <div class="col-6_md-12_lg-6">HTML</div>
            <div class="col-6_md-12_lg-6">React</div>
            <div class="col-6_md-12_lg-6">JavaScript</div>
            <div class="col-6_md-12_lg-6">NodeJS</div>
            <div class="col-6_md-12_lg-6">CSS / SASS</div>
            <div class="col-6_md-12_lg-6">Git / Github</div>
            <div class="col-6_md-12_lg-6">Gulp</div>
          </div>
        </div>
        <div class="about-category">
          <h5>Web Design</h5>
          <div class="about-skills">
            <div>Responsive Design</div>
            <div>Adobe Creative Suite</div>
            <div>(Photoshop, Illustrator, InDesign)</div>
            <div>Email Design &amp; Coding</div>
          </div>
        </div>
        <div class="about-category">
          <h5>User Experience</h5>
          <div class="about-skills">
            <div>A/B Testing</div>
            <div>Wireframes</div>
            <div>Usability Testing</div>
            <div>High fidelity prototypes</div>
            <div>Interviews</div>
          </div>
        </div>
        <div class="about-category">
          <h5>Analytics</h5>
          <div class="about-skills">
            <div>Google Analytics</div>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
