{% extends "../components/container.html" %}

{% block id %}about{% endblock %}

{% block title %}
  About Me
{% endblock %}

{% block subheading %}
  Let me introduce myself
{% endblock %}

{% block section %}
  <div class="column-wrapper grid">
    <div class="column col-12_sm-6_md-4">
      <h3>Profile</h3>
      <div class="profile-content">
        <h5>Name</h5>
        <div>Kristyn Lyncheski</div>
        <h5>Phone Number</h5>
        <div>(908) 591 3689</div>
        <h5>Email</h5>
        <div>klyncheski@gmail.com</div>
        <h5>Bio</h5>
        <div>A web developer and designer with an affinity for cats and gifs. (And of course, cat gifs. Click here and here.) I thrive off the high of learning and teaching myself new skills. When I got the itch to learn more, I took a risk, quit my job and enrolled in a 12-week intensive bootcamp for full-stack web development. Having a background in both design and development makes me love seeing a project through all the way from conception to the final product.</div>
      </div>
    </div>
    <div class="column col-12_md-4">
    </div>
    <div class="column col-12_sm-6_md-4">
      <h3>Skills</h3>
      <div class="skills-content">
        <div class="about-category">
          <h5>Web Development</h5>
          <div class="about-skills">
            <div>Responsive Design</div>
            <div>Adobe Creative Suite</div>
            <div>(Photoshop, Illustrator, InDesign)</div>
            <div>Email Design &amp; Coding</div>
          </div>
        </div>
        <div class="about-category">
          <h5>Web Development</h5>
          <div class="about-skills">
            <div>Responsive Design</div>
            <div>Adobe Creative Suite</div>
            <div>(Photoshop, Illustrator, InDesign)</div>
            <div>Email Design &amp; Coding</div>
          </div>
        </div>
        <div class="about-category">
          <h5>Web Development</h5>
          <div class="about-skills">
            <div>Responsive Design</div>
            <div>Adobe Creative Suite</div>
            <div>(Photoshop, Illustrator, InDesign)</div>
            <div>Email Design &amp; Coding</div>
          </div>
        </div>
        <div class="about-category">
          <h5>Web Development</h5>
          <div class="about-skills">
            <div>Responsive Design</div>
            <div>Adobe Creative Suite</div>
            <div>(Photoshop, Illustrator, InDesign)</div>
            <div>Email Design &amp; Coding</div>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
