{% extends "../components/container.html" %}

{% block id %}portfolio{% endblock %}

{% block title %}
  Portfolio
{% endblock %}

{% block subheading %}
  My latest works
{% endblock %}

{% block section %}
  <div class="portfolio-content">
    <div class="grid">
      <div class="col-12_md-8 first-column grid">
        <div class="col-12 item-wrapper">
          <div class="portfolio-img">
            <img src="../img/AxiomLaw.png" />
          </div>
          <div class="rollover">
            <div class="rollover-content">
              <div class="icon"><i class="fa fa-code"></i></div>
              <div class="company">Axiom</div>
              <div class="description">Website Redesign</div>
              <div class="skills">Development</div>
              <div class="language">React + Redux, SASS, Node with a Headless CMS</div>
            </div>
          </div>
        </div>
        <div class="col-12_md-6 item-wrapper">
          <div class="portfolio-img">
            <img src="../img/LocalLP.png" />
          </div>
          <div class="rollover">
            <div class="rollover-content">
              <div class="icon"><i class="fa fa-code"></i></div>
              <div class="company">Axiom</div>
              <div class="description">Local Landing Pages</div>
              <div class="skills">Development</div>
              <div class="language">HTML, SASS, Javascript, Gulp<br />with Google Sheets API as CMS to allow each office to easily update the content on its page</div>
            </div>
          </div>
        </div>
        <div class="col-12_md-6 item-wrapper">
          <div class="portfolio-img">
            <img src="../img/PolicyGenius.png" />
          </div>
          <div class="rollover">
            <div class="rollover-content">
              <div class="icon"><i class="fa fa-code"></i></div>
              <div class="company">Policygenius</div>
              <div class="description">Modular Newsletter Template</div>
              <div class="skills">Development</div>
              <div class="language">Responsive email template developed in HTML, CSS</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12_md-4 second-column grid">
        <div class="col-12 item-wrapper">
          <div class="portfolio-img">
            <img src="../img/ThinkOrange.png" />
          </div>
          <div class="rollover">
            <div class="rollover-content">
              <div class="icon"><i class="fa fa-code"></i></div>
              <div class="company">Axiom</div>
              <div class="description">Newsletter Signup Page</div>
              <div class="skills">Development</div>
              <div class="language">HTML, SASS, JavaScript, Gulp</div>
            </div>
          </div>
        </div>
        <div class="col-12 item-wrapper">
          <div class="portfolio-img">
            <img src="../img/Gen.png" />
          </div>
          <div class="rollover">
            <div class="rollover-content">
              <div class="icon"><i class="fa fa-pencil"></i><i class="fa fa-code"></i></div>
              <div class="description">Portfolio Site</div>
              <div class="skills">Design & Development</div>
              <div class="language">HTML, CSS template built to use Wordpress</div>
            </div>
          </div>
        </div>
        <div class="col-12 item-wrapper">
          <div class="portfolio-img">
            <img src="../img/MarketNewsletter.png" />
          </div>
          <div class="rollover">
            <div class="rollover-content">
              <div class="icon"><i class="fa fa-pencil"></i><i class="fa fa-code"></i></div>
              <div class="company">Luxe Interiors & Design</div>
              <div class="description">Market Newsletter</div>
              <div class="skills">Design & Development</div>
              <div class="language">Responsive email template developed in HTML, CSS</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
