{% extends "../components/resume-column.html" %}

{% block icon %}
  <i class="fa fa-graduation-cap"></i> 
{% endblock %}

{% block title %}
  Education
{% endblock %}

{% block institution1 %}
  General Assembly
{% endblock %}
{% block title1 %}
  Web Development Immersive
{% endblock %}
{% block date1 %}
  Feb - May 2016
{% endblock %}
{% block description1 %}
<ul>
<li>Attended full-stack bootcamp for front- and back-end web development, including JavaScript, HTML, CSS, React and Ruby</li>
<li>Collaborated with students on daily labs and group projects</li>
<li>Used troubleshooting and creative problem solving to debug code</li>
</ul>

{% endblock %}

{% block institution2 %}
  General Assembly
{% endblock %}
{% block title2 %}
  Visual Design
{% endblock %}
{% block date2 %}
  Nov 2015 - Jan 2016
{% endblock %}
{% block description2 %}
<ul>
<li>Designed production-ready mockup of a responsive webpage, including a desktop mockup, mobile mockup and mobile application screen mockup</li>
</ul>
{% endblock %}

{% block institution3 %}
  Seton Hall University
{% endblock %}
{% block title3 %}
  Bachelor of Arts, 2013<br />
  Journalism, Interactive & Visual Media<br />
  South Orange, NJ
{% endblock %}
{% block date3 %}
{% endblock %}
{% block description3 %}
{% endblock %}
