{% extends "../components/resume-column.html" %}

{% block icon %}
  <i class="fa fa-briefcase"></i>
{% endblock %}

{% block title %}
  Employment
{% endblock %}

{% block institution1 %}
  Axiom
{% endblock %}
{% block title1 %}
  Web Developer
{% endblock %}
{% block date1 %}
  Sep 2016 - present
{% endblock %}
{% block description1 %}
<ul>
<li>Oversaw website redesign from strategy to development and testing</li>
<li>Worked within Global Marketing to conceptualize and build landing pages, responsive emails and other digital assets that brought campaigns to life and increased conversions across all audiences</li>
<li>Worked as UX testing and analytics leads</li>
<li>Partnered with designer and Marketing director to ensure assets align with goals and strategy</li>
</ul>
{% endblock %}

{% block institution2 %}
  SANDOW
{% endblock %}
{% block title2 %}
  Web Designer (May 2014 — Jan 2016)<br />
  Assistant Web Producer (Oct 2013 — May 2014)
{% endblock %}
{% block date2 %}
{% endblock %}
{% block description2 %}
<ul>
<li>Designed and developed responsive HTML templates for email newsletters, ensuring compatibility across devices and email clients</li>
<li>Created high-fidelity wireframes and prototypes for site redesigns, special events and microsites</li>
<li>Developed responsive HTML pages for landing and sign-up pages</li>
</ul>
<ul>
<li>Produced, proofed and scheduled 20-30 email newsletters for 3-4 brands every week</li>
<li>Oversaw and produced site content for 2-3 brands on a daily basis</li>
</ul>
{% endblock %}

{% block institution3 %}
  Hearst Digital, GoodHousekeeping.com
{% endblock %}
{% block title3 %}
  Freelance Web Editor (May 2013 — Oct 2013)<br />
  Web Intern (Sep 2012 — May 2013)
{% endblock %}
{% block date3 %}
{% endblock %}
{% block description3 %}
<ul>
<li>Wrote copy for over 25 home décor and holiday recipes slideshows as well as 200+ product reviews</li>
<li>Built 5-10 articles of the print issue’s articles and web exclusives using Hearst’s CMS on a daily basis</li>
</ul>
{% endblock %}
