{% extends "../components/resume-column.html" %}

{% block icon %}
  <i class="fa fa-briefcase"></i>
{% endblock %}

{% block title %}
  Employment
{% endblock %}

{% block institution1 %}
  Axiom
{% endblock %}
{% block title1 %}
  Web Developer
{% endblock %}
{% block date1 %}
  Sep 2016 - present
{% endblock %}
{% block description1 %}
  Attended full-stack bootcamp for front- and back-end web development, including JavaScript, HTML, CSS and Ruby
{% endblock %}

{% block institution2 %}
  Axiom
{% endblock %}
{% block title2 %}
  Web Developer
{% endblock %}
{% block date2 %}
  Sep 2016 - present
{% endblock %}
{% block description2 %}
  Attended full-stack bootcamp for front- and back-end web development, including JavaScript, HTML, CSS and Ruby
{% endblock %}

{% block institution3 %}
  Axiom
{% endblock %}
{% block title3 %}
  Web Developer
{% endblock %}
{% block date3 %}
  Sep 2016 - present
{% endblock %}
{% block description3 %}
  Attended full-stack bootcamp for front- and back-end web development, including JavaScript, HTML, CSS and Ruby
{% endblock %}
