{% extends "../components/services-row.html" %}

{% block icon1 %}
  <i class="fa fa-sitemap"></i> 
{% endblock %}
{% block title1 %}
  Websites
{% endblock %}
{% block description1 %}
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
{% endblock %}

{% block icon2 %}
  <i class="fa fa-envelope"></i> 
{% endblock %}
{% block title2 %}
  HTML Emails
{% endblock %}
{% block description2 %}
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
{% endblock %}

{% block icon3 %}
  <i class="fa fa-rocket"></i> 
{% endblock %}
{% block title3 %}
  Apps
{% endblock %}
{% block description3 %}
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
{% endblock %}
