{% extends "../components/services-row.html" %}

{% block icon1 %}
  Icon
{% endblock %}
{% block title1 %}
  Design
{% endblock %}
{% block description1 %}
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
{% endblock %}

{% block icon2 %}
  Icon
{% endblock %}
{% block title2 %}
  Design
{% endblock %}
{% block description2 %}
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
{% endblock %}

{% block icon3 %}
  Icon
{% endblock %}
{% block title3 %}
  Design
{% endblock %}
{% block description3 %}
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
{% endblock %}
