#hero {
  background-image: url("../img/hero.jpg");
  background-color: #e8e3e3;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover; }
  #hero .content {
    text-align: left;
    padding-top: 75px;
    padding-bottom: 150px; }
    @media screen and (min-width: 0) and (max-width: 48em) {
      #hero .content {
        padding-top: 25px; } }
    #hero .content .hero-box {
      background-color: #7CD1CE;
      padding: 50px;
      text-align: left;
      display: inline-block; }
      @media screen and (min-width: 0) and (max-width: 48em) {
        #hero .content .hero-box {
          padding: 30px; } }
      #hero .content .hero-box h1 {
        margin-bottom: 10px;
        line-height: 72px; }
        @media screen and (min-width: 0) and (max-width: 48em) {
          #hero .content .hero-box h1 {
            font-size: 40px;
            letter-spacing: 5px;
            line-height: 48px; } }
      #hero .content .hero-box h4 {
        color: #fff; }
        @media screen and (min-width: 0) and (max-width: 48em) {
          #hero .content .hero-box h4 {
            font-size: 16px; } }
