.icon-wrapper {
  margin-right: 10px;
  background-color: #7CD1CE;
  width: 50px;
  max-width: 50px;
  min-width: 50px;
  height: 50px;
  max-height: 50px;
  min-height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .icon-wrapper i {
    color: #fff;
    font-size: 25px; }

#hero {
  background-image: url("../img/hero.jpg");
  background-color: #e8e3e3;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover; }
  #hero .content {
    text-align: left;
    padding-top: 75px;
    padding-bottom: 150px; }
    @media screen and (min-width: 0) and (max-width: 48em) {
      #hero .content {
        padding-top: 25px; } }
    #hero .content .hero-box {
      background-color: #7CD1CE;
      padding: 50px;
      text-align: left;
      display: inline-block; }
      @media screen and (min-width: 0) and (max-width: 48em) {
        #hero .content .hero-box {
          padding: 30px; } }
      #hero .content .hero-box h1 {
        margin-bottom: 10px;
        line-height: 72px; }
        @media screen and (min-width: 0) and (max-width: 48em) {
          #hero .content .hero-box h1 {
            font-size: 40px;
            letter-spacing: 5px;
            line-height: 48px; } }
      #hero .content .hero-box h4 {
        color: #fff; }
        @media screen and (min-width: 0) and (max-width: 48em) {
          #hero .content .hero-box h4 {
            font-size: 16px; } }

#about .column-wrapper {
  background-color: #e8e3e3; }
  #about .column-wrapper .column {
    text-align: left;
    padding: 40px; }
    @media screen and (max-width: 30em) {
      #about .column-wrapper .column {
        padding: 25px; } }
    #about .column-wrapper .column a {
      color: #423E3E;
      text-decoration: none; }
      #about .column-wrapper .column a:hover {
        text-decoration: underline;
        color: #7CD1CE; }
    #about .column-wrapper .column:nth-child(2) {
      background-image: url("../img/kristyn-lyncheski.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      @media screen and (min-width: 0) and (max-width: 48em) {
        #about .column-wrapper .column:nth-child(2) {
          min-height: 300px;
          background-position: top center; } }
      @media screen and (min-width: 30.0625em) and (max-width: 48em) {
        #about .column-wrapper .column:nth-child(2) {
          order: -1; } }
      @media screen and (max-width: 30em) {
        #about .column-wrapper .column:nth-child(2) {
          order: -1; } }
    #about .column-wrapper .column h3 {
      margin-bottom: 12.5px; }
    @media screen and (max-width: 30em) {
      #about .column-wrapper .column:last-child {
        padding-top: 0; } }

#about .profile-content h5 {
  margin-bottom: 5px; }
  #about .profile-content h5:first-child {
    margin-top: 22px; }

#about .profile-content div {
  margin-bottom: 35px; }
  #about .profile-content div:last-child {
    margin-bottom: 0; }

#about .skills-content .about-category h5 {
  background-color: #fff;
  padding: 12px 20px 10px;
  border-left: 8px solid #7CD1CE; }

#about .skills-content .about-category .about-skills {
  margin: 12.5px 0 15px 0;
  padding: 0 20px 0 28px; }
  @media screen and (min-width: 0) and (max-width: 48em) {
    #about .skills-content .about-category .about-skills {
      padding: 0; } }
  #about .skills-content .about-category .about-skills > div {
    margin-bottom: 2px; }
    #about .skills-content .about-category .about-skills > div:last-child {
      margin-bottom: 0; }

#about .skills-content .about-category:first-child .about-skills {
  justify-content: flex-end; }
  #about .skills-content .about-category:first-child .about-skills > div {
    padding-left: 5px;
    padding-right: 5px; }

#about .skills-content .about-category:nth-child(3) .about-skills > div {
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px; }

#about .skills-content .about-category:last-child .about-skills {
  margin-bottom: 0; }

#resume .content {
  padding-top: 0; }

#resume .column-wrapper .column {
  text-align: left; }
  #resume .column-wrapper .column .column-title {
    padding: 12.5px 25px;
    margin-bottom: 15px;
    text-align: center;
    background-color: #e8e3e3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; }
    #resume .column-wrapper .column .column-title h3 {
      margin-left: 10px;
      margin-top: 5px; }
  #resume .column-wrapper .column .column-tile {
    padding: 25px;
    margin-bottom: 15px;
    background-color: #f5f3f3;
    border-top: 8px solid #7CD1CE; }
    #resume .column-wrapper .column .column-tile:last-child {
      margin-bottom: 0; }
    @media screen and (min-width: 0) and (max-width: 48em) {
      #resume .column-wrapper .column .column-tile {
        min-height: 0; } }
    #resume .column-wrapper .column .column-tile .column-tile-institution {
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase; }
    #resume .column-wrapper .column .column-tile .column-tile-title,
    #resume .column-wrapper .column .column-tile .column-tile-date {
      font-size: 18px;
      font-weight: 300;
      margin-top: 3px; }
    #resume .column-wrapper .column .column-tile .column-tile-description {
      margin-top: 15px;
      line-height: 19px; }
      #resume .column-wrapper .column .column-tile .column-tile-description ul {
        padding-left: 12.5px; }
  @media screen and (min-width: 0) and (max-width: 48em) {
    #resume .column-wrapper .column:first-child {
      margin-bottom: 25px; } }
  #resume .column-wrapper .column:first-child .column-title > div {
    background-color: #7CD1CE; }
  #resume .column-wrapper .column:first-child .column-tile {
    border-top-color: #7CD1CE; }

#portfolio {
  background-color: #e8e3e3; }
  #portfolio .portfolio-content > .grid > div {
    padding: 0; }
  #portfolio .portfolio-content > .grid .first-column .item-wrapper:nth-child(2) {
    margin: 0; }
  #portfolio .portfolio-content > .grid .first-column .item-wrapper:first-child .rollover .rollover-content, #portfolio .portfolio-content > .grid .first-column .item-wrapper:nth-child(2) .rollover .rollover-content {
    background-color: rgba(65, 144, 166, 0.96);
    color: #fff; }
  @media screen and (min-width: 0) and (max-width: 48em) {
    #portfolio .portfolio-content > .grid .second-column {
      overflow: hidden;
      margin-bottom: 10px !important; } }
  #portfolio .portfolio-content > .grid .second-column .item-wrapper:nth-child(2) .rollover .rollover-content {
    background-color: rgba(65, 144, 166, 0.96);
    color: #fff; }
  #portfolio .grid.col, #portfolio .grid[class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
    align-content: space-between; }
  #portfolio .item-wrapper {
    margin: 0 0 10px;
    position: relative;
    cursor: default; }
    @media screen and (min-width: 0) and (max-width: 48em) {
      #portfolio .item-wrapper {
        max-height: 400px;
        overflow: hidden;
        margin-bottom: 20px !important; } }
    @media screen and (min-width: 30.0625em) and (max-width: 48em) {
      #portfolio .item-wrapper.item-wrapper-mobile .portfolio-img {
        height: 100%;
        overflow: hidden; }
        #portfolio .item-wrapper.item-wrapper-mobile .portfolio-img img {
          height: 100%;
          width: auto;
          right: 45%;
          position: relative; } }
    #portfolio .item-wrapper:last-child {
      margin: 0; }
    #portfolio .item-wrapper .portfolio-img img {
      width: 100%;
      display: block; }
    #portfolio .item-wrapper .rollover {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: inherit; }
      #portfolio .item-wrapper .rollover .rollover-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(222, 186, 192, 0.96);
        padding: 25px;
        color: #423E3E; }
        #portfolio .item-wrapper .rollover .rollover-content .icon {
          color: #e8e3e3; }
          #portfolio .item-wrapper .rollover .rollover-content .icon .fa {
            font-size: 20px;
            font-weight: bold;
            margin: 0 3px 10px; }
        #portfolio .item-wrapper .rollover .rollover-content .company,
        #portfolio .item-wrapper .rollover .rollover-content .skills {
          font-weight: 700;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 1px;
          margin: 0 0 5px; }
        #portfolio .item-wrapper .rollover .rollover-content .description {
          text-transform: uppercase;
          font-weight: 300;
          font-size: 20px;
          margin-bottom: 15px;
          margin-top: 2px; }
        #portfolio .item-wrapper .rollover .rollover-content .language {
          font-size: 16px;
          line-height: 20px; }
    #portfolio .item-wrapper:hover .rollover {
      display: block; }

#services .row-wrapper .square {
  margin-bottom: 25px; }
  #services .row-wrapper .square .square-content {
    padding: 25px 25px 50px;
    background-color: #e8e3e3;
    border-top: 8px solid #7CD1CE;
    height: 100%; }
    @media screen and (max-width: 30em) {
      #services .row-wrapper .square .square-content {
        padding-bottom: 30px; } }
    #services .row-wrapper .square .square-content .icon-wrapper {
      margin: 0 auto; }
    #services .row-wrapper .square .square-content .square-title {
      text-align: center;
      margin-top: 12.5px;
      margin-bottom: 25px; }
    #services .row-wrapper .square .square-content .square-description {
      text-align: center; }
  #services .row-wrapper .square:first-child .square-content, #services .row-wrapper .square:nth-child(2) .square-content, #services .row-wrapper .square:nth-child(3) .square-content {
    border-top-color: #7CD1CE; }
    #services .row-wrapper .square:first-child .square-content .icon-wrapper, #services .row-wrapper .square:nth-child(2) .square-content .icon-wrapper, #services .row-wrapper .square:nth-child(3) .square-content .icon-wrapper {
      background-color: #7CD1CE; }
  @media screen and (min-width: 48.0625em) {
    #services .row-wrapper .square:nth-child(4) {
      margin-bottom: 0; } }
  @media screen and (min-width: 30.0625em) {
    #services .row-wrapper .square:nth-child(5) {
      margin-bottom: 0; } }
  @media screen and (min-width: 0) {
    #services .row-wrapper .square:last-child {
      margin-bottom: 0; } }

#contact {
  background-color: #e8e3e3; }

/* TYPEFORM */
.screen .content-wrapper .content .text {
  font-family: "Lato", sans-serif !important; }

footer {
  background-color: #e8e3e3; }
  footer .grid-middle {
    margin-left: 0;
    margin-right: 0; }
    footer .grid-middle > div {
      padding: 15px 50px; }
  footer .copyright {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700; }
  footer .social-links {
    text-align: right; }
    footer .social-links a {
      color: #fff;
      margin-left: 5px; }
    footer .social-links .fa {
      font-size: 2.5em; }
