#services .row-wrapper .square {
  margin-bottom: 25px; }
  #services .row-wrapper .square .square-content {
    padding: 25px 25px 50px;
    background-color: #e8e3e3;
    border-top: 8px solid #5C9EAD;
    height: 100%; }
    @media screen and (max-width: 30em) {
      #services .row-wrapper .square .square-content {
        padding-bottom: 30px; } }
    #services .row-wrapper .square .square-content .icon-wrapper {
      margin: 0 auto; }
    #services .row-wrapper .square .square-content .square-title {
      text-align: center;
      margin-top: 12.5px;
      margin-bottom: 25px; }
    #services .row-wrapper .square .square-content .square-description {
      text-align: center; }
  #services .row-wrapper .square:first-child .square-content, #services .row-wrapper .square:nth-child(2) .square-content, #services .row-wrapper .square:nth-child(3) .square-content {
    border-top-color: #DEBAC0; }
    #services .row-wrapper .square:first-child .square-content .icon-wrapper, #services .row-wrapper .square:nth-child(2) .square-content .icon-wrapper, #services .row-wrapper .square:nth-child(3) .square-content .icon-wrapper {
      background-color: #DEBAC0; }
  @media screen and (min-width: 48.0625em) {
    #services .row-wrapper .square:nth-child(4) {
      margin-bottom: 0; } }
  @media screen and (min-width: 30.0625em) {
    #services .row-wrapper .square:nth-child(5) {
      margin-bottom: 0; } }
  @media screen and (min-width: 0) {
    #services .row-wrapper .square:last-child {
      margin-bottom: 0; } }
