@import "../theme/abstracts";

#hero {
  background-image: url('../img/hero.jpg');
  background-color: $_color-gray;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;

  .content {
    text-align: left;
    padding-top: $spacing-big * 1.5;
    padding-bottom: $spacing-big * 3;

    @media #{$gl-xs-sm} {
      padding-top: $spacing-small;
    }

    .hero-box {
      background-color: $color-accent;
      padding: $spacing-big;
      text-align: left;
      display: inline-block;

      @media #{$gl-xs-sm} {
        padding: $spacing-small + 5;
      }

      h1 {
        margin-bottom: $spacing-extra-small;
        line-height: 72px;

        @media #{$gl-xs-sm} {
          font-size: 40px;
          letter-spacing: 5px;
          line-height: 48px;
        }
      }

      h4 {
        color: $color-text-white;

        @media #{$gl-xs-sm} {
          font-size: 16px;
        }
      }
    }
  }
}
