@import "../theme/abstracts";

#resume {
  .content {
    padding-top: 0;
  }
  
  .column-wrapper {
    // display: flex;
    // flex-flow: row nowrap;
    // justify-content: center;
    // align-items: stretch;

    .column {
      text-align: left;
      // max-width: 450px;
      // margin: 0 $spacing-small;

      .column-title {
        padding: ($spacing-small / 2) $spacing-small;
        margin-bottom: $spacing-small - 10px;

        text-align: center;
        background-color: $_color-gray;
        // height: 25px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        h3 {
          margin-left: 10px;
          margin-top: 5px;
        }
      }

      .column-tile {
        padding: $spacing-small;
        margin-bottom: $spacing-small - 10px;

        &:last-child {
          margin-bottom: 0;
        }

        background-color: $_color-light-gray;
        border-top: 8px solid $_color-blue;
        // height: 150px;
        // min-height: 250px;
        
        @media #{$gl-xs-sm} {
          min-height: 0;
        }
        
        .column-tile-institution {
          font-size: 20px;
          font-weight: 700;
          text-transform: uppercase;
        }

        .column-tile-title,
        .column-tile-date {
          font-size: 18px;
          font-weight: 300;
          margin-top: 3px;
        }

        .column-tile-description {
          margin-top: $spacing-small - 10px;
          line-height: 19px;
          
          ul {
            padding-left: $spacing-small / 2;
          }
        }
      }

      &:first-child {
        @media #{$gl-xs-only} {
          margin-bottom: $spacing-small;
        }

        .column-title {
          & > div {
            background-color: $_color-pink;
          }
        }

        .column-tile {
          border-top-color: $_color-pink;
        }
      }
    }
  }
}
