@import "../theme/abstracts";

.icon-wrapper {
  margin-right: 10px;
  background-color: $color-accent;
  width: 50px;
  max-width: 50px;
  min-width: 50px;
  height: 50px;
  max-height: 50px;
  min-height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    color: $_color-white;
    font-size: 25px;
  }
}
