@import "../theme/abstracts";

#services {
  .row-wrapper {
    .square {
      margin-bottom: $spacing-small;

      .square-content {
        padding: $spacing-small $spacing-small $spacing-big;
        background-color: $_color-gray;
        border-top: 8px solid $color-accent;
        height: 100%;

        @media #{$gl-xs-only} {
          padding-bottom: $spacing-small + 5;
        }

        .icon-wrapper {
          margin: 0 auto;
        }

        .square-title {
          text-align: center;
          margin-top: $spacing-small / 2;
          margin-bottom: $spacing-small;
        }

        .square-description {
          text-align: center;
        }
      }

      &:first-child,
      &:nth-child(2),
      &:nth-child(3) {
        .square-content {
          border-top-color: $color-accent;

          .icon-wrapper {
            background-color: $color-accent;
          }
        }
      }

      &:nth-child(4) {
        @media #{$gl-md} {
          margin-bottom: 0;
        }
      }

      &:nth-child(5) {
        @media #{$gl-sm} {
          margin-bottom: 0;
        }
      }

      &:last-child {
        @media #{$gl-xs} {
          margin-bottom: 0;
        }
      }
    }
  }
}
