.container .content {
  max-width: 1440px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 0 5.21%;
  padding-top: 50px;
  padding-bottom: 50px; }
  @media screen and (min-width: 90.0625em) {
    .container .content {
      max-width: 1290px;
      padding-left: 0;
      padding-right: 0; } }
  .container .content .title {
    text-align: center;
    margin-bottom: 40px; }
    .container .content .title h2 {
      margin-top: -10px;
      margin-bottom: 5px;
      letter-spacing: 3px; }
