  <div class="square col-12_sm-6_md-4">
    <div class="square-content">
      <div class="square-icon">
        <h3>{% block icon1 %}{% endblock %}</h3>
      </div>
      <div class="square-title">
        <h3>{% block title1 %}{% endblock %}</h3>
      </div>
      <div class="square-description">
        {% block description1 %}{% endblock %}
      </div>
    </div>
  </div>

  <div class="square col-12_sm-6_md-4">
    <div class="square-content">
      <div class="square-icon">
        <h3>{% block icon2 %}{% endblock %}</h3>
      </div>
      <div class="square-title">
        <h3>{% block title2 %}{% endblock %}</h3>
      </div>
      <div class="square-description">
        {% block description2 %}{% endblock %}
      </div>
    </div>
  </div>

  <div class="square col-12_sm-6_md-4">
    <div class="square-content">
      <div class="square-icon">
        <h3>{% block icon3 %}{% endblock %}</h3>
      </div>
      <div class="square-title">
        <h3>{% block title3 %}{% endblock %}</h3>
      </div>

      <div class="square-description">
        {% block description3 %}{% endblock %}
      </div>
    </div>
  </div>
